/* body, .container-fluid {
    padding: 0;
    margin: 0;
} */

body {
    padding: 0;
    min-width: 272px;
}

.fa-heart {
    font-size: 1rem;
    color: grey;
}

.caro {
    margin-bottom: 10px;
}

.carousel-item img {
    /* margin: 0 auto; */
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.mid-left {
    background-image: url("img/women-workout-class.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.mid-right {
    background-image: url("img/yellow-casual-shoes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.checkout-header {
    margin-left: 12%;
}

@media only screen and (max-width: 767px) {
    .mid-right {
        /* background-image: url("img/yellow-casual-shoes.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px; */
        margin-top: 10px;
    }
}

.container-fluid {
    overflow: hidden;
}

.men-0 {
    height: 200px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    /* image-rendering: cover; */
}

.men-1 {
    height: 200px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-2 {
    height: 200px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-3 {
    height: 200px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-4 {
    height: 200px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-5 {
    height: 200px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-6 {
    height: 200px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-7 {
    height: 200px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-0 {
    height: 200px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-1 {
    height: 200px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-2 {
    height: 200px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-3 {
    height: 200px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-4 {
    height: 200px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-5 {
    height: 200px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-6 {
    height: 200px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-7 {
    height: 200px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.filter {
    /* border: 1px solid black; */
}

.card-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    padding: 2%;
}

i {
    font-size: 1.5rem
}

.card {
    margin: 1rem 0 .5rem 0;
    text-align: center;
    padding: 0 .8rem 0 .8rem;
    font-size: 1rem;
}

.row-1 {
    background-color: blue;
    display: flex;
}

/* Big Product Images */

.product-0 {
    height: 500px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-1 {
    height: 500px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-2 {
    height: 500px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-3 {
    height: 500px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-4 {
    height: 500px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-5 {
    height: 500px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-6 {
    height: 500px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-7 {
    height: 500px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-0 {
    height: 500px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-1 {
    height: 500px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-2 {
    height: 500px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-3 {
    height: 500px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-4 {
    height: 500px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-5 {
    height: 500px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-6 {
    height: 500px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-7 {
    height: 500px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

/* Small Product Images */

.product-0-small-image {
    height: 100px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-1-small-image {
    height: 100px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-2-small-image {
    height: 100px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-3-small-image {
    height: 100px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-4-small-image {
    height: 100px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-5-small-image {
    height: 100px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-6-small-image {
    height: 100px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-7-small-image {
    height: 100px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-0-small-image {
    height: 100px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-1-small-image {
    height: 100px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-2-small-image {
    height: 100px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-3-small-image {
    height: 100px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-4-small-image {
    height: 100px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-5-small-image {
    height: 100px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-6-small-image {
    height: 100px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-7-small-image {
    height: 100px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.size-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.size-box {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.size-box:hover {
    cursor: pointer;
    background-color: gray;
}

.add-to-cart {
    width: 100%;
}

.order-summary-list {
    height: 100%;
}

a  p, a h6 {
    color: black;
    text-decoration: none;
}

/* a  p, a h6:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
} */

.card-link {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}

.select-shoe-size {
    color: red;
}

.modal-view-cart-button {
    width: 100%;
}

.item-price-section {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.new-new-li {
    border: 1px solid black;
    padding: 20px;
}

.cart-left-column {
    /* height: 35px; */
    /* border: 1px solid black; */
}

.cart-right-column {
    /* height: 100px; */
    /* border: 1px solid black; */
}

img {
    width: 100%;
}

.delete-button-section {
    /* border-top: 1px solid black; */
    height: 50px;
    background-color: yellow;
    width: 100%;
}

.delete-button {
    min-width: 25%;
    margin-bottom: 10px;
}

.row-two-container {
    background-color: blue;
    width: 100%;
    height: 50%;
}

.cart-empty {
    margin-top: 25px;
    /* display: block; */
    width: 100%;
}

/* .might-like-container {
    display: none;
} */

@media only screen and (max-width: 1200px) {
    .new-arrival-container {
        overflow-x: scroll;
    }
  }

.new-arrival {
    min-width: 200px;
    height: 400px;
    /* border: 1px solid grey; */
    border-radius: 50%;
    margin: .1rem;
    /* margin: 10px; */
    /* border: 1px solid black; */
    /* background-color: green; */
}

.new-arrival-image {
    /* border: 1px solid black; */
    height: 75%;
    border-radius: 50%;
}

.new-arrival-image-source {
    border-radius: 10px 10px 0 0;
}

.new-arrival-card-text {
    padding-top: 15px;
    text-align: center;
    line-height: .3rem;
    margin-top: 15px;
    /* border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey; */
    border-radius: 0 0 10px 10px;
    height: 2%;
}

/* .shipping-address {
    width: 75%;
} */

.form-width {
    width: 75%;
}

.checkout-display-section {
    border: 1px solid black;
}

.cancel {
    width: 25%;
}

/* .save-and-continue {
    width: 40%;
} */

/* .checkout-page {
    height: 100%;
} */

.fixed-order-summary {
  /* position: fixed; */
  /* display: flex;
  justify-self: flex-end; */
  /* display: none; */
    /* width: 1%; */
    /* background-color: red; */
    /* overflow-x: hidden; */
    /* height: 100vh; */
    /* padding: 20%; */
    
}

.checkout {
    width: 100%;
}

.contact-display {
    border: 1px solid grey;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 3%;
    line-height: 1.1rem;

}

.package-display {
       /* border: 1px solid grey; */
       margin-bottom: 3%;
       line-height: 1.1rem;
       border-radius: 5px;
       /* padding: 5px; */
       /* padding: 2rem; */
}

.package-display-container {
    border: 1px solid gray;
    height: 100px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
}

.image-section {
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    image-rendering: cover;
    margin-left: 2rem;
}

.package-display-row {
    display: flex;
    height: 100%;
    /* background-color: blue; */
}

.narrative-section {
    padding: 1rem;
    /* background-color: red; */
    width: 60%;
}

.package-description, .package-details {
    margin-top: 5px;
    /* background-color: purple; */
}

.package-title {
    font-size: 1.5rem;
}

.shipping-selection-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    /* margin: 10px; */
    border-radius: 5px;
    height: 50px;
    width: 100%;
    /* padding: 1rem; */
}

.shipping-selection-section p {
    margin: 0 auto;
}

.contact-display-package {
    border: 1px solid grey;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: .5rem;
}

.review-checkout-display-item {
    display: flex;
    border: 1px solid grey;
    height: 100px;
    /* background-color: purple; */
    border-radius: 5px;
    margin: 10px 0 10px 0;

}

.review-checkout-image-section {
    /* border: 1px solid grey; */
    /* height: 100px; */
    /* width: 20%; */
    /* background-color: blue; */

    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    image-rendering: cover;
    margin-left: 1.1rem;
}

.review-checkout-narrative {
    /* border: 1px solid grey; */
    height: 100%;
    width: 60%;
    /* background-color: red; */
    padding: 2% 0 2% 0;
    margin-left: 2rem;
    /* display: flex;
    align-items: center; */
}

.review-checkout-item-price {
    /* border: 1px solid grey; */
    height: 100px;
    width: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.review-price {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .review-checkout-narrative { */
    /* display: flex; */
    /* align-items: center;
} */

.review-shipping-container {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.review-shipping-container p {
    margin: 0 auto;
}

.fixed-order-summary-container {
    /* position: fixed; */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* width: 100%; */
    /* background-color: purple; */
    /* height: 50vh; */
    /* width: 75%; */
    /* position: fixed; */
    /* padding: 20%; */

}

@media only screen and (max-width: 767px) {
    .summary-container {
        /* width: 75%; */
        padding: 0 2.35em 0 2.35em;
    }
    .order-summary-title {
        padding: 0 0 0 2.35rem;
    }
}



/* .place-order-button {
    position: fixed;
    width: 10%;
} */

/* .gallery {
    display: flex;
    flex-wrap: wrap;
} */

/* .gallery {
    height: 100vh;
} */

@media only screen and (min-width: 767px) {

}

@media only screen and (max-width: 450px) {
    .image-section {
        height: 100%;
        width: 20%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        object-fit: cover;
        image-rendering: cover;
        margin-left: 1.4rem;
    }

    .review-checkout-image-section {
        /* border: 1px solid grey; */
        /* height: 100px; */
        /* width: 20%; */
        /* background-color: blue; */
    
        height: 100%;
        width: 20%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        object-fit: cover;
        image-rendering: cover;
        margin-left: .6rem;
    }

    .review-checkout-narrative {
        /* border: 1px solid grey; */
        height: 100%;
        width: 60%;
        /* background-color: red; */
        padding: 2% 0 2% 0;
        margin-left: .8rem;
        /* display: flex;
        align-items: center; */
    }

    /* .checkout-display-item {
        margin-right: 2rem;
    } */

    
}

.submitted {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.submit-line-1 {
    animation-name: line-1;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes line-1 {
    0% {left: -400px; opacity: 0}
    100% {left: 0px; opacity: 1}
}

.submit-line-2 {
    animation-name: line-2;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes line-2 {
    0% {right: -400px; opacity: 0}
    100% {right: 0px; opacity: 1}
}

.sub-back-home {
    animation-name: back-home;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes back-home {
    0% {bottom: -100px; opacity: 0}
    100% {bottom: 0px; opacity: 1}
}

.summary-container {
    margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
    .cart-header {
        font-size: 2rem;
    }
    .order-summary-title h2 {
        font-size: 1.5rem;
    }
    .might-like {
        font-size: 1.5rem;
    }
    .checkout-header {
        font-size: 2rem;
        margin-left: 12%;
    }
    .package-title {
        font-size: 1.3rem;
    }
    .cancel, .cancel-package {
        width: 35%;
    }
    .save-and-continue, .save-and-continue-package {
        width: 55%;
    }
    .and-continue {
        display: none;
    }
    .narrative-section {
        padding-top: .3rem;
        padding-left: .7rem;
    }
    .shipping-option, .review-shipping-container {
        padding: .5rem;
    }
    .review-description {
        margin: 0;
    }
    .order-summary-title h2 {
        font-size: 1.5rem;
    }
    .review-checkout-narrative {
        width: 45%;
    /* background-color: red; */
        /* padding: 2% 0 2% 0; */
        margin-left: .5rem;
    }
    /* .button-section {
        min-width: 272px;
    } */
}

@media only screen and (max-width: 300px) {
    .review-checkout-display-item {
        padding: 0 5px 0 0 
    }
    .review-checkout-item-price {
        display: none;
    }
    .review-checkout-narrative {
        width: 60%;
        padding-top: 1.5rem;
    }
    .narrative-section {
        padding-top: 1.5rem;
    }
    .packaqge-details {
        margin: 0;
    }
    .package-description {
        margin-bottom: 0;
    }
}