/* body, .container-fluid {
    padding: 0;
    margin: 0;
} */

body {
    padding: 0;
}

.caro {
    margin-bottom: 10px;
}

.carousel-item img {
    /* margin: 0 auto; */
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.mid-left {
    background-image: url("img/women-workout-class.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.mid-right {
    background-image: url("img/yellow-casual-shoes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    overflow: hidden;
}

.flint {
    height: 200px;
    background-image: url("img/flint-13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.jordan-4 {
    height: 200px;
    background-image: url("img/cement-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.mamba {
    height: 200px;
    background-image: url("img/mamba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.kd {
    height: 200px;
    background-image: url("img/kd.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.odell {
    height: 200px;
    background-image: url("img/odell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.pharell {
    height: 200px;
    background-image: url("img/pharell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.ivo {
    height: 200px;
    background-image: url("img/ivo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.red-black {
    height: 200px;
    background-image: url("img/redblack-cleats.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-1 {
    height: 200px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-2 {
    height: 200px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-3 {
    height: 200px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-4 {
    height: 200px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-5 {
    height: 200px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-6 {
    height: 200px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-7 {
    height: 200px;
    background-image: url("img/women-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-8 {
    height: 200px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.filter {
    /* border: 1px solid black; */
}

.card-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    padding: 2%;
}

i {
    font-size: 1.5rem
}

.card {
    margin: 1rem 0 .5rem 0;
    text-align: center;
}

.row-1 {
    background-color: blue;
    display: flex;
}

/* Big Product Images */

.product-1 {
    height: 500px;
    background-image: url("img/flint-13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-2 {
    height: 500px;
    background-image: url("img/cement-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-3 {
    height: 500px;
    background-image: url("img/mamba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-4 {
    height: 500px;
    background-image: url("img/kd.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-5 {
    height: 500px;
    background-image: url("img/odell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-6 {
    height: 500px;
    background-image: url("img/pharell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-7 {
    height: 500px;
    background-image: url("img/ivo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-8 {
    height: 500px;
    background-image: url("img/redblack-cleats.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-1 {
    height: 500px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-2 {
    height: 500px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-3 {
    height: 500px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-4 {
    height: 500px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-5 {
    height: 500px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-6 {
    height: 500px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-7 {
    height: 500px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-8 {
    height: 500px;
    background-image: url("img/women-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

/* Small Product Images */

.product-1-small-image {
    height: 100px;
    background-image: url("img/flint-13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-2-small-image {
    height: 100px;
    background-image: url("img/cement-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-3-small-image {
    height: 100px;
    background-image: url("img/mamba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-4-small-image {
    height: 100px;
    background-image: url("img/kd.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-5-small-image {
    height: 100px;
    background-image: url("img/odell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-6-small-image {
    height: 100px;
    background-image: url("img/pharell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-7-small-image {
    height: 100px;
    background-image: url("img/ivo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-8-small-image {
    height: 100px;
    background-image: url("img/redblack-cleats.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-1-small-image {
    height: 100px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-2-small-image {
    height: 100px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-3-small-image {
    height: 100px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-4-small-image {
    height: 100px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-5-small-image {
    height: 100px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-6-small-image {
    height: 100px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-7-small-image {
    height: 100px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-8-small-image {
    height: 100px;
    background-image: url("img/women-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.size-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.size-box {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.size-box:hover {
    cursor: pointer;
    background-color: gray;
}

.add-to-cart {
    width: 100%;
}


/* .gallery {
    display: flex;
    flex-wrap: wrap;
} */

/* .gallery {
    height: 100vh;
} */