/* body, .container-fluid {
    padding: 0;
    margin: 0;
} */

body {
    padding: 0;
}

.caro {
    margin-bottom: 10px;
}

.carousel-item img {
    /* margin: 0 auto; */
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.mid-left {
    background-image: url("img/women-workout-class.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.mid-right {
    background-image: url("img/yellow-casual-shoes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

@media only screen and (max-width: 767px) {
    .mid-right {
        /* background-image: url("img/yellow-casual-shoes.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px; */
        margin-top: 10px;
    }
}

.container-fluid {
    overflow: hidden;
}

.men-0 {
    height: 200px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    image-rendering: cover;
}

.men-1 {
    height: 200px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-2 {
    height: 200px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-3 {
    height: 200px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-4 {
    height: 200px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-5 {
    height: 200px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-6 {
    height: 200px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.men-7 {
    height: 200px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-0 {
    height: 200px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-1 {
    height: 200px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-2 {
    height: 200px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-3 {
    height: 200px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-4 {
    height: 200px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-5 {
    height: 200px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-6 {
    height: 200px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.women-7 {
    height: 200px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.filter {
    /* border: 1px solid black; */
}

.card-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    padding: 2%;
}

i {
    font-size: 1.5rem
}

.card {
    margin: 1rem 0 .5rem 0;
    text-align: center;
}

.row-1 {
    background-color: blue;
    display: flex;
}

/* Big Product Images */

.product-0 {
    height: 500px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-1 {
    height: 500px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-2 {
    height: 500px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-3 {
    height: 500px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-4 {
    height: 500px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-5 {
    height: 500px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-6 {
    height: 500px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.product-7 {
    height: 500px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-0 {
    height: 500px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-1 {
    height: 500px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-2 {
    height: 500px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-3 {
    height: 500px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-4 {
    height: 500px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-5 {
    height: 500px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-6 {
    height: 500px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

.women-product-7 {
    height: 500px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}

/* Small Product Images */

.product-0-small-image {
    height: 100px;
    background-image: url("img/men-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-1-small-image {
    height: 100px;
    background-image: url("img/men-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-2-small-image {
    height: 100px;
    background-image: url("img/men-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-3-small-image {
    height: 100px;
    background-image: url("img/men-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-4-small-image {
    height: 100px;
    background-image: url("img/men-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-5-small-image {
    height: 100px;
    background-image: url("img/men-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-6-small-image {
    height: 100px;
    background-image: url("img/men-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.product-7-small-image {
    height: 100px;
    background-image: url("img/men-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-0-small-image {
    height: 100px;
    background-image: url("img/women-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-1-small-image {
    height: 100px;
    background-image: url("img/women-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-2-small-image {
    height: 100px;
    background-image: url("img/women-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-3-small-image {
    height: 100px;
    background-image: url("img/women-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-4-small-image {
    height: 100px;
    background-image: url("img/women-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-5-small-image {
    height: 100px;
    background-image: url("img/women-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-6-small-image {
    height: 100px;
    background-image: url("img/women-6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.women-product-7-small-image {
    height: 100px;
    background-image: url("img/women-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    width: 50%;
}

.size-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.size-box {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.size-box:hover {
    cursor: pointer;
    background-color: gray;
}

.add-to-cart {
    width: 100%;
}

.order-summary-list {
    height: 100%;
}

a  p, a h6 {
    color: black;
    text-decoration: none;
}

/* a  p, a h6:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
} */

.card-link {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}

.select-shoe-size {
    color: red;
}

.modal-view-cart-button {
    width: 100%;
}

.item-price-section {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.new-new-li {
    border: 1px solid black;
    padding: 20px;
}

.cart-left-column {
    /* height: 35px; */
    /* border: 1px solid black; */
}

.cart-right-column {
    /* height: 100px; */
    /* border: 1px solid black; */
}

img {
    width: 100%;
}

.delete-button-section {
    /* border-top: 1px solid black; */
    height: 50px;
    background-color: yellow;
    width: 100%;
}

.delete-button {
    min-width: 25%;
    margin-bottom: 10px;
}

.row-two-container {
    background-color: blue;
    width: 100%;
    height: 50%;
}

.cart-empty {
    margin-top: 25px;
    /* display: block; */
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .new-arrival-container {
        overflow-x: scroll;
    }
  }

.new-arrival {
    min-width: 200px;
    height: 400px;
    margin: 10px;
    /* border: 1px solid black; */
    /* background-color: green; */
}

.new-arrival-image {
    border: 1px solid black;
    height: 75%;
}

.new-arrival-card-text {
    padding: 5px;
    text-align: center;
    line-height: .9em;
    border: 1px solid black;
    height: 25%;
}

/* .shipping-address {
    width: 75%;
} */

.form-width {
    width: 75%;
}

.checkout-display-section {
    border: 1px solid black;
}

.cancel {
    width: 25%;
}

/* .save-and-continue {
    width: 40%;
} */

/* .checkout-page {
    height: 100%;
} */

.fixed-order-summary {
  position: sticky;
  top: 0;
}

.checkout {
    width: 100%;
}

.contact-display, .package-display {
    border: 1px solid black;
    margin-bottom: 10%;
    line-height: .5rem;
    padding: 10px;
}

.package-display-container {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.image-section {
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    image-rendering: cover;
    margin-left: 2rem;
}

.package-display-row {
    display: flex;
    height: 100%;
    /* background-color: blue; */
}

.narrative-section {
    padding: 1rem;
    /* background-color: red; */
    width: 60%;
}

.package-description, .package-details {
    margin-top: 10px;
    /* background-color: purple; */
}

.package-title {
    font-size: 1.5rem;
}

/* .gallery {
    display: flex;
    flex-wrap: wrap;
} */

/* .gallery {
    height: 100vh;
} */